<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sample-web-application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.royal.controller.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IpServlet</display-name>
    <servlet-name>IpServlet</servlet-name>
    <servlet-class>com.royal.controller.IpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IpServlet</servlet-name>
    <url-pattern>/IpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableServlet</display-name>
    <servlet-name>TableServlet</servlet-name>
    <servlet-class>com.royal.controller.TableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableServlet</servlet-name>
    <url-pattern>/TableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.royal.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestApp</display-name>
    <servlet-name>TestApp</servlet-name>
    <servlet-class>com.royal.controller.TestApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestApp</servlet-name>
    <url-pattern>/TestApp</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>GoogleSearchServlet</display-name>
    <servlet-name>GoogleSearchServlet</servlet-name>
    <servlet-class>com.royal.controller.GoogleSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleSearchServlet</servlet-name>
    <url-pattern>/GoogleSearchServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
<servlet>
	<servlet-name>ConfigerServlet1</servlet-name>
	<servlet-class>com.royal.controller.ConfigerServlet1</servlet-class>

	<init-param>

		<param-name>URLNAME</param-name>
		<param-value>jdbc:mysql://localhost:3306/test</param-value>
	
	</init-param>
	
	<init-param>
		<param-name>DRIVERCLASS</param-name>
		<param-value>mysql.cj.jdbc.Driver</param-value>
	</init-param>

	<init-param>
		<param-name>USERNAME</param-name>
		<param-value>root</param-value>
	</init-param>
	
	<init-param>
		<param-name>PASSWORD</param-name> 
		<param-value>root</param-value>
	</init-param>
</servlet>

  <servlet-mapping>
    <servlet-name>ConfigerServlet1</servlet-name>
    <url-pattern>/ConfigerServlet1</url-pattern>
  </servlet-mapping>
  
  
  
  
<context-param>
	<param-name>lang1</param-name>
	<param-value>C_Language</param-value>
</context-param>

<context-param>
	<param-name>lang2</param-name>
	<param-value>Python_Language</param-value>
</context-param>

<context-param>
	<param-name>lang3</param-name>
	<param-value>Java_Language</param-value>
</context-param>
  
<servlet-mapping>
    <servlet-name>ConfigertextServlet</servlet-name>
    <url-pattern>/ConfigertextServlet</url-pattern>
</servlet-mapping>
  
 
  

  
</web-app>